<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app="myModule">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
<script type="text/javascript" src="../../angular/angular-sanitize.js"></script>
</head>
<body>
  <input type="text" ng-model="myName" />
  <p ng-bind-html="myName"></p>
  
  <script type="text/javascript">
    angular.module('myModule', ['ngSanitize']);
  </script>
</body>
</html>