<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
<script type="text/javascript" src="../../angular/angular-messages.js"></script>
</head>
<body ng-controller="myController">
  
  <input type="text" ng-model="status" ng-change="change()" />
  
  <div ng-messages="statusList.messages">
    <p ng-message="200">OK</p>
    <p ng-message="404">Not found</p>
    <p ng-message="500">Internal server error</p>
    <p ng-message="503">Service unavailable</p>
  </div>
  <p ng-show="!status.length">200, 404, 500, 503のどれかを入力してください</p>
  
  <script>
    angular.module('myApp', ['ngMessages']).controller('myController', ['$scope', function($scope){
      $scope.statusList = {
        messages: {
          200: false, 
          404: false, 
          500: false, 
          503: false
        }
      };
      
      $scope.change = function($event) {
        angular.forEach($scope.statusList.messages, function(value, key){
          $scope.statusList.messages[key] = false;
        })
        
        if($scope.status in $scope.statusList.messages) {
          $scope.statusList.messages[$scope.status] = true;
        }
      }
    }])
  </script>
  
</body>
</html>