<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  
  <input type="radio" ng-model="greeting" value="morning">朝
  <input type="radio" ng-model="greeting" value="daytime">昼
  <input type="radio" ng-model="greeting" value="night">夜
  
  <div ng-switch="greeting">
    <div ng-switch-when="morning">おはよう</div>
    <div ng-switch-when="daytime">こんにちは</div>
    <div ng-switch-when="night">こんばんは</div>
    <div ng-switch-default>選択してください</div>
  </div>
  
</body>
</html>