<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  <input type="text" ng-model="myName" />
  <p ng-style="myStyle">Sample text</p>
  
  <div><input type="radio" name="textDecoration" ng-click="myStyle={ textDecoration:'overline' }" />text-decoration:'overline'</div>
  <div><input type="radio" name="textDecoration" ng-click="myStyle={ textDecoration:'line-through' }" />text-decoration:'line-through'</div>
  <div><input type="radio" name="textDecoration" ng-click="myStyle={ textDecoration:'underline' }" />text-decoration:'underline'</div>
</body>
</html>