<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  <style>
    .large{ font-size: 40px; }
  </style>
  
  <ul ng-init="users=['can_i_do_web', 'zoetro', 'teyosh', 'かない', 'いけぞえ', 'よしだ']">
    <li ng-repeat="user in users" ng-class-even="'large'">{{ user }}</li>
  </ul>
</body>
</html>