<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body ng-model="isShow" ng-init="isShow=true">
  
  <p>ng-show="isShow" : <span ng-show="isShow">○</span></p>
  <p>ng-show="!isShow" : <span ng-show="!isShow">○</span></p>
  <p>ng-show="true" : <span ng-show="true">○</span></p>
  <p>ng-show="'true'" : <span ng-show="'true'">○</span></p>
  <p>ng-show="false" : <span ng-show="false">○</span></p>
  <p>ng-show="'false'" : <span ng-show="'false'">○</span></p>
  <p>ng-show="1 > 0" : <span ng-show="1 > 0">○</span></p>
  <p>ng-show="1 > 3" : <span ng-show="1 > 3">○</span></p>
  
</body>
</html>