<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  
  <input type="number" ng-model="myCount" ng-init="myCount=0" />
  <div ng-pluralize 
    count="myCount" 
    when="{
      0: '0', 
      1: '1', 
      2: '2', 
      other: '{} 以上です'
    }">
  </div>
  
  <input type="text" ng-list ng-model="list" ng-init="list=['A', 'B', 'C']">
  <div ng-pluralize 
    count="list.length"
    offset="2"
    when="{
      0: '0', 
      1: '{{ list[0] }}', 
      2: '{{ list[0] }} さんと {{ list[1] }} さんが既読', 
      one: '{{ list[0] }} さんと {{ list[1] }} さんともう1人が既読', 
      other: '{{ list[0] }} さんと {{ list[1] }} さんとその他{}人以上が既読'
    }">
  </div>
  
</body>
</html>