<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  <style>
    .lightgray{ color: #999; }
    .large{ font-size: x-large; }
    .underline{ text-decoration: underline; }
  </style>
  
  <p>一般的なCSSのような定義方法</p>
  <p ng-class="'lightgray'">lightgray</p>
  <p ng-class="'large'">large</p>
  <p ng-class="'underline'">underline</p>
  
  <p ng-init="mdlLightGray='lightgray'; mdlLarge='large'; mdlUnderline='underline';">配列での定義方法</p>
  <p ng-class="['lightgray', 'underline']">lightgray underline</p>
  <p ng-class="[mdlLightGray, 'large']">model & 文字列</p>
  
  <p>ハッシュオブジェクトでの定義方法</p>
  <p ng-class="{ lightgray: chkLightGray, large: chkLarge, underline: chkUnderline }">Target text</p>
  <div><input type="checkbox" ng-model="chkLightGray">lightgray</div>
  <div><input type="checkbox" ng-model="chkLarge">large</div>
  <div><input type="checkbox" ng-model="chkUnderline">underline</div>
</body>
</html>