<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../angular/angular.js"></script>
</head>
<body>
  
  <div><input type="checkbox" ng-model="check">表示切り替え</div>
  <p ng-if="check">ng-ifでDOMに追加</p>
  
</body>
</html>